<div class="container-fluid">
  <h5 class="text-center mt-5 lead display-4">ControlMax</h5>
  <p class="textao lead mt-3">O ControlMax te ajuda a manter controle sobre suas finanças, de forma simples e fácil,totalmente de graça.</p>
    <p class="textao lead">Esse aplicativo foi desenvolvido por motivos educacionais, sem fins lucrativos.</p>
</div>
<h5 class="text-center mt-5 mb-5 display-4">Staff</h5>
<div class="row container-fluid">
  <div class="col-lg-4">
  <img class="rounded-circle imgredonda" src="./assets/anderson.jpg" witdh="140" height="140">
  <h4 class="text-center mt-3 lead textao">Anderson da Cunha de Carvalho</h4>
</div>
<div class="col-lg-4">
    <img class="rounded-circle imgredonda" src="./assets/jocimar.jpg" witdh="140" height="140">
    <h4 class="text-center mt-3 textao">Jocimar Caiado Braga</h4>
  </div>
</div>
<div class="row mt-5 mb-5 container-fluid">
    <div class="col-lg-4">
    <img class="rounded-circle imgredonda1" src="./assets/me.jpg" witdh="140" height="140">
    <h2 class="text-center mt-3 textao">João Pedro Barreto Santos</h2>
  </div>
  <div class="col-lg-4">
      <img class="rounded-circle imgredonda1" src="./assets/otario.jpg" witdh="140" height="140">
      <h2 class="text-center mt-3 textao">Rafael</h2>
    </div>
   
  </div>
