.cardlouco{
    background-color: #9b59b6;
}

.imgredonda{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.textao{
    font-family: Arial, Helvetica, sans-serif
}
