.navbar{
    background: white;
    z-index: 10;
    -webkit-box-shadow: 0px 7px 12px 3px rgba(0,0,0,0.56);
-moz-box-shadow: 0px 7px 12px 3px rgba(0,0,0,0.56);
box-shadow: 0px 7px 12px 3px rgba(0,0,0,0.56);
}

.footer{
    background: #9b59b6;
    color:gold;
    
    .links{
      ul {list-style-type: none;}
      li a{
        color: white;
        transition: color .2s;
        &:hover{
          text-decoration:none;
          color:gold;
          }
      }
    }  
    .about-company{
      i{font-size: 25px;}
      a{
        color:white;
        transition: color .2s;
        &:hover{color:#4180CB}
      }
    } 
    .loca{
        color: white;
    }
    .location{
      i{font-size: 18px;}
      color: white;
    }
    .copyright p{border-top:1px solid rgba(255,255,255,.1);} 
  }
  .textao{
    color: #9b59b6;
    font-family: Arial, Helvetica, sans-serif
  }
  .footertext{
    color: white;
  }