<div class="container-fluid">
    <h5 class="text-center mt-5 lead display-4">Road Map</h5>
    <p class="textao lead mt-3">Veja aqui o que planejamos para as futuras versões do aplicativo.</p>
  </div>

  <div class="container-fluid">
    <p class="textao lead mt-3">-Mudança de mês(Gastos/Extrato) </p>
    <p class="textao lead mt-3">-Mudança de ano(Historico) </p>
    <p class="textao lead mt-3">-Cartão de Crédito usado </p>
    <p class="textao lead mt-3">-Soma das compras(Cartão de Crédito) </p>
    <p class="textao lead mt-3">-Limite do Cartão </p>
    <p class="textao lead mt-3">-Parcelamento do Cartão e de compras dentro do cartão </p>
    <p class="textao lead mt-3">-Recuperação da conta </p>
    <p class="textao lead mt-3">-Planejamento financeiro </p>
    <p class="textao lead mt-3">-Criação de um sistema de metas </p>
    <p class="textao lead mt-3">-Implementação de todos os serviços do app no site </p>

  </div>