.carousel-item{
    
}
.textao{
    font-family: Arial, Helvetica, sans-serif
}

.ibagens{
    width: 20%;
    height: 50%;
    float: right;
}

.butons{
    color: white;
    background: #9b59b6;
}