.carousel-item{
    
}
.textao{
    font-family: Arial, Helvetica, sans-serif
}
.col-md-6,.col-md-4{
height: 100vh;
}
.ibagens{
    margin-top: 20%;
    padding-bottom: 30%;
    margin-left: 10%;
    width: 90%;
    height: 80%;
    float: right;
}
.frase{
    margin-top: 20%;
    margin-left: 10%;
}
.frase1{
    margin-left: 10%;
}

.butons{
    color: white;
    background: #9b59b6;
    margin-left: 10%;
}
.jumbo{
    margin-top:0%;
    margin-bottom: 0%;
}
.jumbo1{
    background: #9b59b6;
    color:white;

}
.jumbo2{
    margin-top: 0%;
    background: black;
    color:white;
}
.ibagens1{
    margin-top: 13%;
    margin-right: 5%;
    float: right;
    height: 75%;
}
.imagem0{
    margin-top: 50%;
    padding-bottom: 15%;
    float: right;
    height: 40%;
    
}
@media (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}